<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Breast Cancer</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href="../Resources/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="size">
  <div class="header">
     <div class="mnav"> <img class="mnimgl" src="../Resources/image/img_37.jpg" alt="" /> <img class="mnimgr" src="../Resources/image/img_50.jpg" alt="" />
      <div class="mnm">
        <ul>
          <li><a href="../index.html">HOME</a></li>
          <li><a href=""target="_blank">BREAST CANCER APP</a></li>
          <li><a href="index-dataTables.html">DATA</a></li>
          <li><a href="https://public.tableau.com/profile/mariena#!/vizhome/HFCBreastCancerMovement/Dashboard1"target="_blank">TABLEAU</a></li>
          <li><a href="../Templates/pdescription.html">PROJECT </a></li>
          <li><a href="contact.html">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="cmainimg"> <img alt="" src="../Resources/image/Banner01.jpeg" /> </div>
    <div class="submenu" style="left: 0px; top: 0px"> <img class="snimgl" src="../Resources/image/img_96.jpg" alt="" /> <img class="snimgr" src="../Resources/image/img_107.jpg" alt="" />
      <div class="subtext"> <p>You are here: Contact</p> </div>
    </div>
    <div class="mcontent">
        
      <section> <br>
          <div class="mc0201" > Contact Information of Developers </div> <br> <br> <br><br>
                   
            
      <div class="container" >
        <div class="tex">
      <h6>"Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives. 
          It is the fuel that allows common people to attain uncommon results." – <i><b>Andrew Carnegie</b></Andrew></i> </h6> <br><br>
        </div>
      <div class="container-fluid">
        <div class="row align-items">
                  

              <div class= "col-md-4">               
              <div class="card" style="width:250px"   >
                <img class="card-img-top" src="../Resources/image/Miranda.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Lissette Miranda </h4>
                  <p class="card-text">Machine Learning Engineer</p>
                  <a href="#" class="https://github.com/lmiranda1107"> See Github</a>
                </div>               
              </div>
            </div> <br>             
            

            <div class= "col-md-4">
                <div class="card" style="width:250px"  >
                 <img class="card-img-top" src="../Resources/image/Mariena.jpg" alt="Card image" style="width:100%">
                 <div class="card-body">
                   <h4 class="card-title">Mariena Alvarez</h4>
                   <p class="card-text">Database Engineer & Tableau Specialist</p>
                   <a href="#" class="https://github.com/Marie0615"> See Github</a>
                 </div>               
               </div>
             </div> <br>

             <div class= "col-md-4">
                <div class="card" style="width:250px" >
                 <img class="card-img-top" src="../Resources/image/Dunia.jpg" alt="Card image" style="width:100%">
                 <div class="card-body">
                   <h4 class="card-title">Dunia Carmenates </h4>
                   <p class="card-text">Front End Developer</p>
                   <a href="#" class="https://github.com/Carmenates88"> See Github</a>
                 </div>               
               </div>
             </div> 

        </div>
      </div>

             </section>

             <br>
             <br>
             <br>



           
               
              
      </div>
    </div>
    
    <div class="footer"
    <font color="white">Github Link | <a style="color: blue" href="https://github.com/lmiranda1107/ml_final_project/" target="_blank">Breast Cancer </a></font></div>
  </div>
  </div>
</body>
</html>
