<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Breast Cancer</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link href="../Resources/styles.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="icon_path" type="image/icon type">
</head>
 <!-- add icon link -->
 <link rel = "icon" href =  
 "../Resources/image/icon.png" type = "image/x-icon"> 
<body>
<div class="size">
  <div class="header">
     <div class="mnav"> <img class="mnimgl" src="../Resources/image/img_37.jpg" alt="" /> <img class="mnimgr" src="../Resources/image/img_50.jpg" alt="" />
      <div class="mnm">
        <ul>
          <li><a href="../index.html">HOME</a></li>
          <li><a href="https://hfc-breast-cancer-movement.herokuapp.com/"target="_blank">BREAST CANCER APP</a></li>
          <li><a href="index-dataTables.html">DATA</a></li>
          <li><a href="https://public.tableau.com/profile/mariena#!/vizhome/HFCBreastCancerMovement/Dashboard1"target="_blank">TABLEAU</a></li>
          <li><a href="../Templates/pdescription.html">PROJECT </a></li>
          <li><a href="contact.html">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="cmainimg"> <img alt="" src="../Resources/image/Banner01.jpeg" /> </div>
    <div class="submenu" style="left: 0px; top: 0px"> <img class="snimgl" src="../Resources/image/img_96.jpg" alt="" /> <img class="snimgr" src="../Resources/image/img_107.jpg" alt="" />
      <div class="subtext"> You are here: Resources </div>
      <div class="subimag" style="width: 41px; height: 51px">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </div>
    <div class="mcontent">
      <div class="mcleft">
        <div class="mcbox01">
          <div class="mc01t"> MAIN MENU </div>
          <div class="mc01c">
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="https://hfc-breast-cancer-movement.herokuapp.com/"target="_blank">Breast Cancer App</a></li>
              <li><a href="resources.html">Resources</a></li>
              <li><a href="index-dataTables.html">Data</a></li>
              <li><a href="https://public.tableau.com/profile/mariena#!/vizhome/HFCBreastCancerMovement/Dashboard1"target="_blank">Tableau</a></li>
              <li><a href="pdescription.html">Project Description</a></li>              
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="mc01b"> <img src="../Resources/image/img_272.jpg" alt="" /> </div>
        </div>
        <div class="mcbox01">
          <div class="mc01t2"> LATEST NEWS </div>
          <div class="mc01cc">
            <ul>
              <li><a href="https://www.sciencedaily.com/news/health_medicine/breast_cancer/"target="_blank">ScienceDaily's</a></li>
              <li><a href="https://www.thisislivingwithcancer.com/get-support?cmp=32a00eff-8df6-4177-b322-52649f73af70"target="_blank">Living with Cancer</a></li>
              <li><a href="https://www.cancertherapyadvisor.com/home/cancer-topics/breast-cancer/breast-cancer-news/"target="_blank">Breast Cancer Advisor</a></li>
              <li><a href="https://medicalxpress.com/news/2019-06-breast-cancer-drug-boost-survival.html"target="_blank">Medical Xpress</a></li>
              <li><a href="https://breastcancernow.org/news-and-blogs/news"target="_blank">Breast Cancer Now</a></li>
              <li><a href="https://www.medicalnewstoday.com/categories/breast_cancer"target="_blank">Medical News Today</a></li>
            </ul>
          </div>
          <div class="mc01b"> <img src="../Resources/image/img_272.jpg" alt="" /> </div>
        </div>
        <div class="mcbox01">
          <div class="mc01t2"> MORE Resources </div>
          <div class="mc01cc">
            <ul>
              <li><a href="https://www.needymeds.org/copay_diseases.taf?_function=summary&disease_eng=Breast%20Cancer"target="_blank">NeedyMeds</a></li>
              
            </ul>
          </div>
          <div class="mc01b"> <img src="../Resources/image/img_272.jpg" alt="" /> </div>
        </div>
      </div>
   
        <div class="mc02 ">
          <div class="mc0201"><b> Recently diagnose with Breast Cancer </b> <img src="../Resources/image/detec.png" alt="Welcome" width="120" height="58" align="right"></div> <br>
          <div class="mc0202" style="width: 18px; height: 15px"> &nbsp; </div>
          <div class="mc0203">
            <div class="mc020301">
              <p>If your answer is <b style="color:red;"></style>YES</b> and you feel hopeless because the high cost of treatment. <b style="color:red;"></style><ins>YOU ARRIVED AT THE CORRECT PLACE </ins></b>. We will
                 guide you to the process of obtaining copayment assistance or free medication if you have low income.<br>
                 Prescription assistance can be offered in the way of Patient Assistance Programs (PAPs), which are created by pharmaceutical
                 companies to provide free or discounted medicines to people who are unable to afford them. Each program has its own qualifying
                 criteria. To apply, go directly to the pharmaceutical website and look for a link related to patient discount or patient assistance programs.</p>
              <br>
              

              <a href="https://ww5.komen.org/BreastCancer/FinancialResources.html"target="_blank"><h3><i>Susan G Komen Treatment Assistance Program</i></h3></a> 
              <p>This page will offer you individual assessment by an oncology social worker. It will provide financial assistance for: Medication,
                 Child Care/Elder Care, Transportation, Durable Medical Equipment, Breast Cancer Education, Psychosocial Support and Local Resources.</p>

              <a href="https://www.copays.org/resources/breast.php"target="_blank"><h3><i>Patient Advocate Foundation</i></h3></a>  
              <p>Easy application online. This foundation will provide copayment assistance to commercially insured patients. In order to qualify, patient must meet requirements such as:</p>                                
              <ul>
                <li>Patient must be insured, and insurance must cover the medication for which patient seeks assistance.</li>
                <li>Patient must have a confirmed diagnosis of Breast Cancer.</li>
                <li>Patient must reside and receive treatment in the United States.</li>
                <li>Patient's income must fall below 400% of the Federal Poverty Guideline (FPG) with consideration of the Cost of Living Index(COLI) and the number in the household.</li>
             </ul>

             <a href="https://www.cancercare.org/co_payment_fundings/breast-cancer"target="_blank"><h3></i>CancerCare Co-Payment Assistance Foundation</i></h3></a>  
             <p>CancerCare provides free, professional support services for people affected by breast cancer, as well as breast cancer information and additional resources.</p>

             <a href="https://www.healthwellfoundation.org/fund/breast-cancer-medicare-access/"target="_blank"><h3><i>Healthwell Foundation</i></h3></a>
             <p>To qualify for HealthWell’s assistance, applicants must meet the following eligibility requirements:</p> 
             <ul>
                <li>You are being treated for Breast Cancer.</li>
                <li>You have Medicare.</li>
                <li>Your income falls within our guidelines.</li>
                <li>You are receiving treatment in the United States.</li>
             </ul>

             <a href="https://www.abcf.org/programs/breast-cancer-assistance-program"target="_blank"><h3><i>American Breast Cancer Foundation (ABCF) - Breast Cancer Assistance Program</i></h3></a> 
             <p>This Program provides financial assistance for breast cancer screenings and diagnostic tests for uninsured and underinsured individuals, regardless of age or gender</p>
             
             <a href="https://tafcares.org/program-listing/"target="_blank"><h3><i>Assistance Fund, Inc. - Breast Cancer Copay Assistance Program </i></h3></a>
             <p>Provides financial assistance for co-payments for patients who have breast cancer.</p>

             <a href="https://catherinefund.org/Get-Help.html"target="_blank"><h3><i>Catherine H Tuck Foundation </i></h3></a>
             <p>This Program helps working women and men nationwide who are struggling to pay their bills during breast
                cancer treatment. We provide short-term aid by making payments for non-medical expenses for rent, utilities, food or transportation.</p>
                
              <br>
              <br>



            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="footer"> 
      <font color="white">Github Link | 
        <a style="color: blue" href="https://github.com/lmiranda1107/ml_final_project/" target="_blank">Breast Cancer </a></font></div>
  </div>

  
</div>

</body>
</html>
