<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Breast Cancer</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link href="../Resources/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="size">
  <div class="header">
     <div class="mnav"> <img class="mnimgl" src="../Resources/image/img_37.jpg" alt="" /> <img class="mnimgr" src="../Resources/image/img_50.jpg" alt="" />
      <div class="mnm">
        <ul>
          <li><a href="../index.html">HOME</a></li>
          <li><a href=""target="_blank">BREAST CANCER APP</a></li>
          <li><a href="index-dataTables.html">DATA</a></li>
          <li><a href=""target="_blank">TABLEAU</a></li>
          <li><a href="">PROJECT </a></li>
          <li><a href="contact.html">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="cmainimg"> <img alt="" src="../Resources/image/Banner01.jpeg" /> </div>
    <div class="submenu" style="left: 0px; top: 0px"> <img class="snimgl" src="../Resources/image/img_96.jpg" alt="" /> <img class="snimgr" src="../Resources/image/img_107.jpg" alt="" />
      <div class="subtext"> You are here: Home </div>
      <div class="subimag" style="width: 41px; height: 51px">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </div>
    <div class="mcontent">
      <div class="mcleft">
        <div class="mcbox01">
          <div class="mc01t"> MAIN MENU </div>
          <div class="mc01c">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href=""target="_blank">Breast Cancer App</a></li>
              <li><a href="">Resources</a></li>
              <li><a href="Templates/index-dataTables.html">Data</a></li>
              <li><a href=""target="_blank">Tableau</a></li>
              <li><a href="">Project Description</a></li>              
              <li><a href="Templates/contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="mc01b"> <img src="../Resources/image/img_272.jpg" alt="" /> </div>
        </div>
        <div class="mcbox01">
          <div class="mc01t2"> LATEST NEWS </div>
          <div class="mc01cc">
            <ul>
              <li><a href="https://www.sciencedaily.com/news/health_medicine/breast_cancer/"target="_blank">ScienceDaily's</a></li>
              <li><a href="https://www.thisislivingwithcancer.com/get-support?cmp=32a00eff-8df6-4177-b322-52649f73af70"target="_blank">Living with Cancer</a></li>
              <li><a href="https://www.cancertherapyadvisor.com/home/cancer-topics/breast-cancer/breast-cancer-news/"target="_blank">Breast Cancer Advisor</a></li>
              <li><a href="https://medicalxpress.com/news/2019-06-breast-cancer-drug-boost-survival.html"target="_blank">Medical Xpress</a></li>
              <li><a href="https://breastcancernow.org/news-and-blogs/news"target="_blank">Breast Cancer Now</a></li>
              <li><a href="https://www.medicalnewstoday.com/categories/breast_cancer"target="_blank">Medical News Today</a></li>
            </ul>
          </div>
          <div class="mc01b"> <img src="../Resources/image/img_272.jpg" alt="" /> </div>
        </div>
        <div class="mcbox01">
          <div class="mc01t2"> MORE Resources </div>
          <div class="mc01cc">
            <ul>
              <li><a href="https://www.needymeds.org/copay_diseases.taf?_function=summary&disease_eng=Breast%20Cancer"target="_blank">NeedyMeds</a></li>
              
            </ul>
          </div>
          <div class="mc01b"> <img src="../Resources/image/img_272.jpg" alt="" /> </div>
        </div>
      </div>
   
        <div class="mc02 ">
          <div class="mc0201"> Welcome to our site </div>
          <div class="mc0202" style="width: 18px; height: 15px"> &nbsp; </div>
          <div class="mc0203">
            <div class="mc020301">
              <p>Having the ability to diagnose breast cancer in its early stages has been the focus of many researches in the last decade. Although many strides have been achieved in this area, there is still a long way to go before prevention and early detection is achieved in most cases. Over forty thousand women are expected to die from breast cancer in 2019 based on predictive analytics. But as technology moves in the right direction, our team is confident that machine learning models will be able to contribute to this effort.</p>
              <p>The statistics state that “Uninsured women who were diagnosed with breast cancer were 60% more likely to die from the disease… Uninsured women were also nearly 2.6 times more likely to be diagnosed with a later stage of the disease, compared to women who had health insurance.”</p>
              <p>We want to create an app that gives any person access to get insights on their laboratory tests by inputting the test results through a “form”. This data will be ran against a machine learning model in the backend that has been trained to detect what results indicate that a tumor can be malignant or benign. </p>
              <p>Because these people might be uninsured or underinsured, we will provide them with free clinics and other ../Resources where they can go get their preventive tests at low or no costs.</p>
            </div>
            <div class="mc020302">
              <ul>
                <li><a href="">This is a bullet item</a></li>
                <li><a href="">This is a bullet item</a></li>
                <li><a href="">This is a bullet item</a></li>
                <li><a href="">This is a bullet item</a></li>
                <li><a href="">This is a bullet item</a></li>
                <li><a href="">This is a bullet item</a></li>
              </ul>
            </div>
            <div class="mc020303">
              <p>tenemos que escoger de que vamos a hablar aqui</p>
              <p>tenemos que escoger de que vamos a hablar aqui</p>
              <p>tenemos que escoger de que vamos a hablar aqui</p>
              <p>tenemos que escoger de que vamos a hablar aqui</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer"> 
    <font color="white">Github Link | <a style="color: blue" href="https://github.com/lmiranda1107/ml_final_project/" target="_blank">Breast Cancer </a></font></div>
</div>

</body>
</html>
